body {
    --glossary-accent-color: #31989B;
    --glossary-text-color: var(--text-primary-color);
    --chessboard-accent-color: #D1A442;
    --chessboard-accent-color2: #C4813A;
    --chessboard-text-color: var(--text-primary-color);

    --chess-accurate-color: #6AC63B;
    --chess-acceptable-color: #95E070;
    --chess-dubious-color: #C9DD63;
    --chess-inaccuracy-color: #FFD859;
    --chess-mistake-color: #F9A357;
    --chess-blunder-color: #C64545;
    --chess-great-color: #6074E5;
    --chess-brilliant-color: #04DDDD;
    --chess-miss-color: #D86C6C;

    --eval-white: #F9F6EF;
    --eval-black: #262422;

    --board-arrows-default-color: var(--chessboard-accent-color);
    --board-arrows-color2: var(--chessboard-accent-color2);
    --board-arrows-color3: var(--glossary-accent-color);

    --board-highlights-default-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    --board-highlights-bad-color: color-mix(in srgb, var(--chess-blunder-color) 100%, var(--translucent-mixin));
    --board-highlights-good-color: color-mix(in srgb, var(--glossary-accent-color) 100%, var(--translucent-mixin));
}

.set-moves-button {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color);
}

.set-moves-button-replaces {
    background-color: color-mix(in srgb, var(--chessboard-accent-color2) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color2);
}

.glossary-button {
    background-color: color-mix(in srgb, var(--glossary-accent-color) 100%, var(--translucent-mixin));
    color: var(--glossary-text-color);
    border-color: var(--glossary-accent-color);
}

.inline-label.eval-arrow-box {
    display: inline-flex;
    align-items: center;

    overflow-y: hidden;

    padding-left: 0;
    padding-right: var(--spacing-large);
}

.inline-label.eval-arrow {
    display: inline-flex;
    align-items: center;
    position: relative;

    padding-right: var(--spacing-tiny);

    /* Left-side corners and extra height will be cut off by container hiding overflow */
    border-radius: 0;
    height: 110%;
}

.eval-arrow::after {
    content: "";
    position: absolute;
    /* Custom, does not need to be precise as the arrow is sized bigger than the container and is cut off */
    right: -0.48em;

    width: 0;
    height: 0;

    /* Custom, deliberately sizes arrow larger than container (/1.5 instead of /2) to avoid alignment issues */
    border-top: calc(var(--inline-label-height)/1.5) solid transparent;
    border-bottom: calc(var(--inline-label-height)/1.5) solid transparent;

    border-left: calc(var(--inline-label-height)/2.25) solid;

    /*
     * Applies colour using a variable which is not set in the CSS file,
     * and should instead be set by passing it in via the style prop of the element which uses this class.
     * This is to get around the fact that custom styles cannot be applied to pseudo-elements
     */
    border-left-color: var(--eval-arrow-color);
}

.study-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-large);
}

.study-subcolumn {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    justify-content: "center";
    align-items: "center";
}

.study-segment {
    border-style: solid;
    border-width: var(--border-width-small);
    border-radius: var(--border-radius-large);

    background-color: var(--medium-shade-color);
}

.chessboard-container {
    background-color: color-mix(in srgb, var(--medium-shade-color) 100%, var(--chessboard-accent-color) 3%);

    border-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
}

.chessboard-button {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color);
}

.glossary-container {
    background-color: color-mix(in srgb, var(--medium-shade-color) 100%, var(--glossary-accent-color) 3%);

    border-color: color-mix(in srgb, var(--glossary-accent-color) 100%, var(--translucent-mixin));
}

.commentary-container {
    border-color: transparent;
}

.nextmoves-container {
    border-color: transparent;
}
