body {
    --glossary-accent-color: #2BAFAF;
    --glossary-text-color: #E5FFFF;
    --chessboard-accent-color: #B28C2C;
    --chessboard-text-color: #FFF9E5;
}

.study-container {
    padding: 0.5rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.study-subcolumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: "center";
    align-items: "center";
}

.study-segment {
    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 0.5rem;
}

.chessboard-container {
    border: solid;
    border-width: 2px;
    border-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
}

.chessboard-button {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color);
}

.set-moves-button {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color);
}

.glossary-container {
    border: solid;
    border-width: 2px;
    border-color: color-mix(in srgb, var(--glossary-accent-color) 100%, var(--translucent-mixin));
}

.glossary-button {
    background-color: color-mix(in srgb, var(--glossary-accent-color) 100%, var(--translucent-mixin));
    color: var(--glossary-text-color);
    border-color: var(--glossary-accent-color);
}
