body {
    --glossary-section-padding: 0 var(--spacing-medium) 0 0;
}

.glossary-margin-title {
    padding: var(--spacing-tiny) var(--spacing-small);

    white-space: nowrap;

    font-size: 15px;
    color: var(--glossary-text-color);
}

.glossary-margin-title-selected {
    background-image: linear-gradient(
        to right,
        transparent,
        color-mix(
            in srgb,
            var(--glossary-accent-color) 100%,
            var(--translucent-mixin)
        )
    );
}
