body {
    --glossary-accent-color: #45B2B2;
    --glossary-text-color: var(--text-primary-color);
    --chessboard-accent-color: #D1A234;
    --chessboard-accent-color2: #C97832;
    --chessboard-text-color: var(--text-primary-color);
}

.study-container {
    padding: var(--spacing-small);

    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-large);
}

.study-subcolumn {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    justify-content: "center";
    align-items: "center";
}

.study-segment {
    border-color: color-mix(in srgb, var(--accent-color) 100%, var(--translucent-mixin));
    border-style: solid;
    border-width: var(--border-width-small);
    border-radius: var(--border-radius-large);

    background-color: rgba(0, 0, 0, 0.35);
}

.chessboard-container {
    border-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
}

.chessboard-button {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color);
}

.set-moves-button-appends {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color);
}

.set-moves-button-replaces {
    background-color: color-mix(in srgb, var(--chessboard-accent-color2) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color2);
}

.set-moves-button-matches {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    border-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--chessboard-text-color) 100%);

    border-style: solid;
    color: var(--chessboard-text-color);
}

.set-moves-button-matches:hover {
    filter: none;
}

.glossary-container {
    border-color: color-mix(in srgb, var(--glossary-accent-color) 100%, var(--translucent-mixin));
}

.glossary-button {
    background-color: color-mix(in srgb, var(--glossary-accent-color) 100%, var(--translucent-mixin));
    color: var(--glossary-text-color);
    border-color: var(--glossary-accent-color);
}
