body {
    --glossary-accent-color: #2BAFAF;
    --glossary-text-color: #E5FFFF;
    --chessboard-accent-color: #B28C2C;
    --chessboard-text-color: #FFF9E5;
}

.study-container {
    padding: var(--spacing-small);

    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-large);
}

.study-subcolumn {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    justify-content: "center";
    align-items: "center";
}

.study-segment {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: var(--border-radius-large);
}

.chessboard-container {
    border: solid;
    border-width: var(--border-width-small);
    border-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
}

.chessboard-button {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color);
}

.set-moves-button {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color);
}

.glossary-container {
    border: solid;
    border-width: var(--border-width-small);
    border-color: color-mix(in srgb, var(--glossary-accent-color) 100%, var(--translucent-mixin));
}

.glossary-button {
    background-color: color-mix(in srgb, var(--glossary-accent-color) 100%, var(--translucent-mixin));
    color: var(--glossary-text-color);
    border-color: var(--glossary-accent-color);
}
