body {
    --glossary-accent-color: #31989B;
    --glossary-text-color: var(--text-primary-color);
    --chessboard-accent-color: #D1A442;
    --chessboard-accent-color2: #C6883B;
    --chessboard-text-color: var(--text-primary-color);

    --chess-dubious-color: #FFDD66;
    --chess-mistake-color: #FFA347;
    --chess-blunder-color: #D82B2B;
    --chess-great-color: #5066E5;
    --chess-brilliant-color: #00E0E0;
}

.study-container {
    padding: var(--spacing-small);

    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-large);
}

.study-subcolumn {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    justify-content: "center";
    align-items: "center";
}

.study-segment {
    border-style: solid;
    border-width: var(--border-width-small);
    border-radius: var(--border-radius-large);

    background-color: var(--medium-shade-color);
}

.chessboard-container {
    border-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
}

.chessboard-button {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color);
}

.set-moves-button-appends {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color);
}

.set-moves-button-replaces {
    background-color: color-mix(in srgb, var(--chessboard-accent-color2) 100%, var(--translucent-mixin));
    color: var(--chessboard-text-color);
    border-color: var(--chessboard-accent-color2);
}

.set-moves-button-matches {
    background-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--translucent-mixin));
    border-color: color-mix(in srgb, var(--chessboard-accent-color) 100%, var(--chessboard-text-color) 100%);

    border-style: solid;
    color: var(--chessboard-text-color);

    filter: brightness(115%);
}

.glossary-container {
    border-color: color-mix(in srgb, var(--glossary-accent-color) 100%, var(--translucent-mixin));
}

.glossary-button {
    background-color: color-mix(in srgb, var(--glossary-accent-color) 100%, var(--translucent-mixin));
    color: var(--glossary-text-color);
    border-color: var(--glossary-accent-color);
}

.commentary-container {
    border-color: transparent;
}

.nextmoves-container {
    border-color: transparent;
}