@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/Roboto/static/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/Roboto/static/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/Roboto/static/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

body {
    --bg-color: #456636;
    --accent-color: #45722D;
    --text-primary-color: white;

    --light-shade-color: rgba(0, 0, 0, 0.2);

    --dev-error-color: #D84141;
    --dev-inactive-color: #8C8C8C;
    --dev-inactive-color-2: #A5A5A5;

    --translucent-mixin: 50% transparent;

    --spacing-small: 0.5rem;
    --spacing-medium: 0.75rem;
    --spacing-large: 1rem;

    --border-width-small: 2px;

    --border-radius-medium: 3px;
    --border-radius-large: 6px;

    --block-section-padding: var(--spacing-small) var(--spacing-small) var(--spacing-large) var(--spacing-small);
    --block-subsection-padding: 0 0 0 var(--spacing-small);

    background-image: linear-gradient(
        to bottom,
        color-mix(in srgb, var(--bg-color) 100%, black 25%) 0%,
        var(--bg-color) 10%,
        var(--bg-color) 90%,
        color-mix(in srgb, var(--bg-color) 100%, black 25%) 100%
    );
    background-attachment: fixed;

    color: var(--text-primary-color);

    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

button {
    font-family: inherit;
    font-weight: bold;

    border-radius: var(--border-radius-medium);

    cursor: pointer;
}

button:hover {
    filter: brightness(115%);
}

button:disabled {
    filter: brightness(85%);

    cursor: not-allowed;
}

.inline-button-base {
    padding-top: 0;
    padding-bottom: 0;

    font-size: 14px;
}

.symbol-button-base {
    font-size: 22px;

    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
}

.clickable-text {
    cursor: pointer;
}

.clickable-text:hover {
    font-weight: bold;
}

.faint-text {
    color: color-mix(in srgb, var(--text-primary-color) 100%, var(--translucent-mixin));
    font-size: 14px;
}

.y-scrollbar {
    overflow-y: auto;
    flex: 1;

    scrollbar-width: thin;
    scrollbar-color: var(--light-shade-color) transparent;
}

.section-header {
    font-weight: bold;
    font-size: 18px;

    border-radius: var(--border-radius-medium);
    padding: var(--spacing-small);
    background-image: linear-gradient(to right, var(--light-shade-color), transparent);
}

.dev-error-icon {
    margin: 4px;

    padding: 0 var(--spacing-small);

    background-color: var(--dev-error-color);
    color: white;
    border-radius: 12px;
    width: fit-content;
}

.dev-inactive-element {
    background-color: var(--dev-inactive-color);
    border-color: var(--dev-inactive-color);
    color: white;
}