body {
  --text-primary-color: #EEFFE5;
  --bg-color: #456636;

  --light-shade-color: rgba(0, 0, 0, 0.2);

  --translucent-mixin: 50% transparent;

  color: var(--text-primary-color);
  background-color: var(--bg-color);

  font-family: Trebuchet MS;
  font-size: 17px;
  line-height: 30px;
}

.inline-button-base {
  font-family: Trebuchet MS;
  font-weight: bold;
  font-size: 15px;

  border-radius: 3px;
  border-width: 2px;
  padding: 2px 5px 3px 5px;
}

.inline-button-base:hover {
    filter: brightness(115%);
}

.symbol-button-base {
  font-family: Arial;
  font-weight: bold;
  font-size: 22px;

  border-radius: 3px;
  padding: 2px 25px;
}

.symbol-button-base:hover {
    filter: brightness(115%);
}

.faint-text {
    color: color-mix(in srgb, var(--text-primary-color) 100%, var(--translucent-mixin));
    font-size: 14px;
}

.y-scrollbar {
    overflow-y: auto;
    flex: 1;

    scrollbar-width: thin;
    scrollbar-color: var(--light-shade-color) transparent;
}

.header {
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 18px;

    border-radius: 3px;
    padding: 8px;
    background-image: linear-gradient(to right, var(--light-shade-color), transparent);
}